.banner-design {
    background-image: url('../../assets/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

.display {
    display: flex;
    text-align: center;
    align-items: center;

  margin-left: 4%;
    margin-top: 10%;
}